<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Digiter - SEO Generator</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Digiter - Flask based SEO Simple Meta Tag Generator">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% block head %}{% endblock %}
        <style type="text/css">
            .center{
                display: block;
                margin-left: auto;
                margin-right: auto;                
            }
            .head{
                background-color: #fff;
            }
        </style>
    </head>
    <body>
        {% block body %}{% endblock %} 
        <footer style="text-align: center;">
            <p>
                <a href="http://zerrowtech.com">Zerrowtech </a>&copy2020 - Designed by 
                <a href="http://praveen.zerrowtech.com">Praveen Manoharan</a>
            </p>
        </footer>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script>
            function copyTXT() {
                let textCopy = document.getElementById("meta-display");
                textCopy.select();
                textCopy.setSelectionRange(0, 99999);
                document.execCommand("copy");
            }
        </script>
    </body>
</html>